body {
	background:#FFFFEE;
	color:#800000;
}
a {
	color:#0000EE;
}
a:hover {
	color:#DD0000;
}
img {
	border-width: 0px;
}


#adminbar, #stylebar {
	float: right;
	margin-left: 1em;
}

#title {
	clear: both;
	text-align: center;
}
#title h1 {
	text-align: center;
        font-size: 2em;
	font-weight: normal;
	margin: 0em;
}

#returnlink {
}

#replypage h2 {
	background: #E04000;
	font-size: 1em;
	font-weight: normal;
	text-align: center;
	padding: 2px;
	margin: 0px;
	color: #FFFFFF;
}



#postarea {
	text-align: center;
}
#postarea table {
	margin: 0px auto;
}
#postarea td {
	text-align: left;
}
#postarea td.label {
        background: #EEAA88;
	font-weight: bold;	
}
.captcha {
	color: #800000;
}

#rules {
	font-size: 0.7em;
}



.thread {
}



.threadstart h3 {
	font-size: 1em;
	font-weight: normal;
	margin: 0px;
}
.threadstart h3 strong { /* subject */
	color: #CC1105;
	font-size: 1.2em;
	font-weight: bold;
}
.threadstart h3 em { /* name */
	color: #117743;
	font-weight: bold;
	font-style: normal;
}
.threadstart h3 small { /* tripcode */
	color:#228854;
	font-size: 1em;
	font-weight: normal;
}
.threadstart h3 .reflink a {
	color: #800000;
	text-decoration: none;
}
.threadstart h3 .reflink a:hover {
	color:#DD0000;
}
.threadstart h3 .replylink {
	margin-left: 0.5em;
}
.threadstart h5 { /* thumbnail message */
	font-size: 1em;
	font-weight: normal;
	margin: 0px;
}
.threadstart .replytext {
	margin: 1em 40px 1em 40px;
}
.threadstart .omittedposts {
        color:#707070;
}



.thumbnail {
	float: left;
	padding: 2px 20px 2px 20px;
}
.nothumbnail {
	float: left;
	display: inline; /* stupid IE bug */
	background: #eeeedc;
	border: 2px dashed #ddddca;
	text-align: center;
	padding: 20px 10px 20px 10px;
	margin: 4px 20px 4px 20px;
}


.replies {
}

.replycontainer {
	display: table;
	margin: 3px 0px 3px 0px;
	padding-left: 20px;
	background-image: url(../img/futaba-arrow.png);
	background-repeat: no-repeat;
	background-position: 0px 6px;
}
.reply {
	float: left;
	clear: both;
	background: #F0E0D6;
}
.highlight {
	float: left;
	clear: both;
	background: #F0E0D6;
	border: 2px dashed #EEAA88;
}
.reply h4, .highlight h4 {
	font-size: 1em;
	font-weight: normal;
	margin: 0px 0.5em 0px 0px;
}
.reply h4 strong, .highlight h4 strong { /* subject */
	color: #CC1105;
	font-size: 1.2em;
	font-weight: bold;
}
.reply h4 em, .highlight h4 em { /* name */
	color: #117743;
	font-weight: bold;
	font-style: normal;
}
.reply h4 small, .highlight h4 small { /* tripcode */
	color:#228854;
	font-size: 1em;
	font-weight: normal;
}
.reply h4 .reflink a, .highlight h4 .reflink a {
	color: #800000;
	text-decoration: none;
}
.reply h4 .reflink a:hover, .highlight h4 reflink a:hover {
	color:#DD0000;
}
.reply h5, .highlight h5 { /* thumbnail message */
	font-size: 1em;
	font-weight: normal;
	margin: 0px 0.5em 0px 20px;
}
.reply .replytext, .highlight .replytext {
	margin: 1em 40px 0em 40px;
}
.reply .replytext :last-child, .highlight .replytext :last-child {
	margin-bottom: 0px;
}

.thread hr {
	margin-bottom: 1.5em;
	position: relative;
	top: 1em;
	clear: both;
}


#delete {
	float: right;
	text-align: center;
}

#navibar {
	float: left;
	padding: 0px;
	border: 1px outset #808080;
}

#naviprev, #navilinks, #navinext {
	float: left;
	padding: 4px;
	margin: 1px;
	border: 1px inset #808080;
}

#footer {
	clear: both;
	font-size: small;
	text-align: center;
	padding-top: 1.5em;
}





table.admininput {
}
table.admininput td {
	text-align: left;
}
table.admininput td.label {
        background: #EEAA88;
	font-weight: bold;	
}



table.admindata {
	margin: 0px auto;
	font-family:sans-serif;
	font-size: 0.9em;
}
table.admindata big {
	font-weight: bold;
}
tr.headrow th {
	background: #999955;
	color: #FFFFEE;
	padding: 4px;
}
tr.headrow th:first-child {
	-moz-border-radius: 8px 0px 0px 0px;
}
tr.headrow th:last-child {
	-moz-border-radius: 0px 8px 0px 0px;
}
tr.row1 td {
	background:#EEEECC;
	color:#800000;
	white-space: nowrap;
}
tr.row2 td {
        background:#DDDDAA;
        color:#800000;
	white-space: nowrap;
}



#error h2 {
	font-size: 2em;
	font-weight: normal;
	text-align: center;
}
#error h3 {
	font-size: 2em;
	font-weight: normal;
	text-align: center;
}



#login h2, #posts h2, #bans h2, #spam h2, #adminpost h2 {
	background: #EEAA88;
	font-size: 1em;
	font-weight: normal;
	text-align: center;
	padding: 2px;
	margin: 0em 0em 1em 0em;
	color: #FFFFFF;
}

#login form {
	display: table;
	margin: 0px auto;
}

#posts h3, #bans h3, #spam h3 {
	font-size: 1em;
	font-weight: bold;
	font-family: sans-serif;
	font-variant: small-caps;
	text-align: center;
	margin: 0em 0em 1em 0em;
}

#adminpost h3 {
	font-size: 1em;
	font-weight: normal;
	font-style: italic;
	text-align: center;
	margin: 0em 0em 1em 0em;
}

#posts h4 {
	margin: 0em;
}
#posts .buttons, #spam .buttons {
	text-align: center;
}
#posts table.admininput {
	margin: 0px auto;
}

#bans h3 {
	margin-bottom: 0em;
}
#bans #inputs {
	display: table;
	margin: 0px auto;
}
#bans #inputs form {
	display: table-cell;
	vertical-align: bottom;
	padding: 0.5em;
}

#spam form {
	text-align: center;
}
#spam p {
	text-align: center;
}
